

.titleName {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
    line-height: 20px;

    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 3;
    -webkit-box-orient: vertical;
}