@tailwind base;     
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-size: 14px;
    padding: 0px;
    margin: 0px; 
}

:root {
    --padding: 1rem;
    
    /* --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Ubuntu;  */
    /* --font-family: BLOKK, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif; */
    --font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    --navbar-bg: rgba(25, 33, 51, 0.98);
    --navbar-label: #c1c1c1;
    --navbar-label-hover: #6795de;
    --navbar-text: #a1a1a1;    

    --back-ground: url("https://cdn.cloudflare.steamstatic.com/store/promo/winter2023/pattern-04_ice-sparkes.gif?v=2") center top repeat, rgb(15, 14, 18);
    --back-content: #1e1e1e;

    --text-header: #e2e2e2;
    --text-paragraph:#ababab;
    --text-emphasis:#e05353; 
    --text-comment:#479266;
    
}

@media (prefers-color-scheme:light) {
    :root {
        --surface: #e2e2e2;
        --surface2: #fffffe;
        --text-header: #303030;
        --text-paragraph: #5e5e5e;
    }  
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    
    background: var(--back-ground);
    font-family: var(--font-family);
}

.mainContent{
    width: 1200px;
    min-width: 320px;
    margin: auto;
}

@media (max-width: 1215px) {
    .mainContent { width: 100%; }
}

header{
    width: 100%;
    z-index: 10;

    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
    background-color: var(--navbar-bg);
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation a:last-child {
    margin-left: auto;
}

.navigation a {
    font-weight: bold;
    position: relative;
    text-decoration: none;
    outline-offset: 5px
}

.navigation div {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.navigation div:hover {
    background-color: rgb(249, 244, 255);
    color: rgb(122, 84, 170);
}

h1, h2, h3, h4 {
    color: var(--text-header);
    font-weight: 300;  
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

ul {
    padding: 5px 1.75rem;
    margin: auto;
}

input, textarea {
    max-width: 300px;
    margin: 0.5rem 0;
}

input[type="date"] {
    background-color: #ff7300;
    margin-left: 30px;
    padding: 10px;
    position: relative;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 5px;  
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
    cursor: pointer;
}

p {
    line-height: 1.5;
    color: var(--text-paragraph);   
}