#article_grid {
    display: flex;
    flex-wrap: wrap;
}

#block {
    position: relative;
    margin: 5px;
    user-select: none;
    cursor: pointer;
}

#block_inline {
    margin: auto;
    position: relative;
    width: 160px;
    height: 220px;
    
    flex-basis: 300px;

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12), 0 1px 3px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* background: rgba(76,112,168,.25); */
    background: rgb(104 78 133 / 25%);
    cursor: pointer;
    -webkit-backdrop-filter: blur(20px) saturate(180%) brightness(60%);
    backdrop-filter: blur(20px) saturate(180%) brightness(60%);
}

#block_inline:hover {
    transform: scaleX(1) scaleY(1);
    filter: brightness(1.1) contrast(0.95) saturate(1);
    box-shadow: 3px 8px 8px 3px rgba(0,0,0,.596);
    #avatar {
        transform: scale(1.2)
    }
}

#alinement_visual {
    position: relative;
    background: linear-gradient(144.37deg, rgba(130, 156, 219, 0) 68.22%, rgba(82, 125, 235, 0.32) 113.95%);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#depart_tag {
    z-index: 5;
    display: flex;
    height: 24px;
    inline-size: 24px;
    left: 4px;
    top: 4px;
    position: absolute;
    perspective-origin: 12px 12px;
    transform-origin: 12px 12px;
}

#avatar {
    cursor: pointer;
    display: block;
    width: 128px;
    height: 128px;
    border: 0px none rgb(197, 203, 216);
    border-radius: 5px;
    transition: transform 0.4s cubic-bezier(0, 0.73, 0.48, 1) 0s, filter 0.4s cubic-bezier(0, 0.73, 0.48, 1) 0s;
}

#relation {
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.11) 100%);
    transition: transform 0.4s cubic-bezier(0, 0.73, 0.48, 1) 0s;
}

#name {
    letter-spacing: .05em;
    font-weight: 500;
    line-height: 1.4rem;
    -webkit-text-fill-color: rgba(0,0,0,0);
    background-image: linear-gradient(90deg, #C5CBD8 70%, rgba(0, 0, 0, 0));
    background-clip: text;
}

#number_grid {
    display: flex;
    flex-direction: row;
    opacity: .75;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    transition-property: transform;
    transform-origin: 50% 50%;
    -moz-transition-duration: .4s;
    -moz-transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    -moz-transition-property: transform;
    -moz-transform-origin: 50% 50%;
}

#number_grid > svg {
    width: 32px;
    height: 24px;
    padding: 2px 6px 2px 0px;
    fill: #fff;
    overflow: visible;
    /* max-width: 320px; */
    /* max-height: 320px; */

    overflow-clip-margin: content-box;
    overflow: hidden;
    /* width: 64px; */
    /* height: 54px; */
    fill: none;
}

svg > path {
    d: path("M 4 0 C 1.79086 0 0 1.79086 0 4 V 50 C 0 52.2091 1.79086 54 4 54 H 11 H 53 H 60 C 62.2091 54 64 52.2091 64 50 V 4 C 64 1.79086 62.2091 0 60 0 H 53 H 11 H 4 Z M 11 2 V 52 H 53 V 2 H 11 Z M 8 25 H 3 V 29.8 H 8 V 25 Z M 3 15 H 8 V 19.8 H 3 V 15 Z M 8 6 H 3 V 10.8 H 8 V 6 Z M 3 34.5996 H 8 V 39.3996 H 3 V 34.5996 Z M 8 44.2002 H 3 V 49.0002 H 8 V 44.2002 Z M 39.8603 17.535 C 39.8603 21.0291 36.8085 24.0701 32.7786 24.0701 C 28.7487 24.0701 25.6969 21.0291 25.6969 17.535 C 25.6969 14.041 28.7487 11 32.7786 11 C 36.8085 11 39.8603 14.041 39.8603 17.535 Z M 41.8603 17.535 C 41.8603 22.2488 37.7943 26.0701 32.7786 26.0701 C 27.7629 26.0701 23.6969 22.2488 23.6969 17.535 C 23.6969 12.8213 27.7629 9 32.7786 9 C 37.7943 9 41.8603 12.8213 41.8603 17.535 Z M 30.4484 27.5466 C 24.6389 27.5466 19.3689 30.9432 17.364 36.4652 C 16.8368 37.9173 16.3885 39.1885 16.1121 39.9794 C 15.773 40.9495 16.227 42.0134 17.1535 42.4456 L 17.9794 42.831 C 27.4793 47.2632 38.4824 47.1178 47.8618 42.4361 C 48.7479 41.9938 49.1714 40.9651 48.8535 40.0271 L 48.0754 37.7315 C 46.0118 31.6431 40.2979 27.5466 33.8692 27.5466 H 33.0013 H 30.4484 Z M 19.2439 37.1478 C 20.9397 32.4771 25.4141 29.5466 30.4484 29.5466 H 33.0013 H 33.8692 C 39.4407 29.5466 44.3928 33.0969 46.1812 38.3735 L 46.9541 40.6538 C 38.1237 45.056 27.7672 45.1905 18.825 41.0185 L 18.0018 40.6344 C 18.2765 39.8484 18.7212 38.5873 19.2439 37.1478 Z M 61 25 H 56 V 29.8 H 61 V 25 Z M 56 15 H 61 V 19.8 H 56 V 15 Z M 61 6 H 56 V 10.8 H 61 V 6 Z M 56 34.5996 H 61 V 39.3996 H 56 V 34.5996 Z M 61 44.2002 H 56 V 49.0002 H 61 V 44.2002 Z");
    fill: rgb(255, 255, 255);
    fill-rule: evenodd;
}

#number_grid > div  {
    font-size: .8rem;
    letter-spacing: .1em;
    margin: auto 0px;
    white-space: nowrap;
}