.content {
    width: 100%;
    display: flex;
}

.aside {
    z-index: 1;
    width: 200px;
    margin-top: 50px;

    padding: var(--padding);
    border-radius: var(--border);
    background: var(--surface2);

    display: flex;
    flex-direction: column;
}

.article {
    /* background: linear-gradient( transparent, var(--collor3) 0%, var(--surface) 95%),
        url("../../img/1672248167_kalix-club-p-katana-art-instagram-50.jpg"); */
    position: relative; 
    padding: var(--padding);
    border-radius: var(--border);
    margin-top: 50px;
}

.gradient{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border-top-left-radius: var(--border) var(--border);
    border-top-right-radius: var(--border) var(--border);
    width:100%;
    
}

.article>p+h1,
.article>p+h2,
.article>p+h3,
.article>p+h4,
.article>p+h5,
.article>p+h6 {
    margin-top: 2ch
}

.article_grid {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-Gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(170px,auto));

}

.h1{
    z-index: 1;
    position: relative;
}